<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#home">Back To Top</a>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/OddO.Products/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/OddO_Products?t=Qh9Rq0KtCgBIzNFX46pVWA&s=08"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://youtube.com/channel/UCq4Z279hPj4PVyeTXmzh7mA"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://instagram.com/oddo_products?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <p>Copyright &copy; Orako Foods pvt ltd
                </p>
            </div>
        </div>
    </div>
</footer>