.card-body {
    text-align: center;
}

.product-wrap {
    padding-top: 2.5rem;
}

.product-end-wrap {
    padding-bottom: 2.5rem;
}

.card-title {
    font-weight: bold;
}

$carousel-height: 450px;
$control-size: 600px;
.carousel {
    width: 29vw;
    height: $carousel-height;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    &:hover .controls {
        opacity: 1;
    }
    .controls {
        opacity: 0;
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        justify-content: space-between;
        width: 100%;
        z-index: 99999;
        transition: all ease 0.5s;
        .control {
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: .5;
            transition: ease .3s;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    .slides {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        transition: 1s ease-in-out all;
        .slide {
            min-width: 100%;
            min-height: $carousel-height;
            height: auto;
        }
    }
}

.product-details-wrap {
    padding-top: 2.5rem;
}

.product-details {
    padding-top: 2.5rem;
    .card-title {
        font-size: 3.5rem;
        color: black;
    }
    .card-text {
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
    }
    .features {
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
    }
    .features-list {
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
    }
    .direction {
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
    }
    .direction-list {
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
    }
}

.product-list {
    padding-top: 2.5rem;
    .product-wrap {
        padding-top: 0;
    }
    .projects-content {
        padding-top: 10vh;
        background-color: white;
        background-image: none;
    }
}

.related-products {
    color: black;
    text-align: center;
}

.projects-content {
    background-color: white;
}

.related-products-title {
    color: black;
    font-size: 3.5rem;
}